* {
    margin: 0;
    padding: 0;
  }
  
  .bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .logo {
    width: 40%;
    height: auto;
    top: 10%;
  }
  
  .subtitle {
    margin-top: -3rem;
    color: whitesmoke;
    font-size: 30px;
    display: block;
    position: relative;
    z-index: 999;
  }